<div class="row">
    <div class="col-sm-3 playerBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    img
                    Concentracion:
                </div>
                <div class="col-sm-2">
                    Nombre: <br>
                    Cordura: <br>
                    Resistencia: <br>
                </div>
                <hr />
                
            </div>
            <div>
                    Velocidad: <br/>
                    Discrecion: <br/>
                    Pelea: <br/>
                    Voluntad: <br/>
                    Saber: <br/>
                    Suerte: <br/>
                </div>
        </div>
    </div>
    <div class="col-sm-3 playerBox">
        player 2
    </div>
    <div class="col-sm-3 playerBox">
        player 3
    </div>
    <div class="col-sm-3 playerBox">
        player 4
    </div>    
</div>
<div class="row">
    <div class="col-sm-3 playerBox">
        player 5
    </div>
    <div class="col-sm-3 playerBox">
        player 6
    </div>
    <div class="col-sm-3 playerBox">
        player 7
    </div>
    <div class="col-sm-3 playerBox">
        player 8
    </div>
</div>